$color-primary: #061729;
$color-primary-light: #f5f5f5;
$color-red: #ba881d;
$color-yellow: #edbf17;
$color-text: #ffffff;
$color-text-primary: #061729;
$color-text-subtitle: #ccd0d8;
$font-size-body: 1.6rem;
@font-face {
	font-family: 'mandalore';
	src: local('mandalore'), url(../fonts/Mandalore/mandalore.ttf) format('ttf');
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 400;
	font-family: sans-serif;
	font-family: 'Nunito', sans-serif;
	color: $color-primary;
	background-color: $color-primary-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-size: 1.6rem;
	font-family: 'mandalore', sans-serif;
}

.app {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
	header,
	section {
		scroll-snap-align: start;
	}
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0rem 7rem;
	height: 15vh;
	position: relative;
	&-logo {
		z-index: 15;
		img {
			height: 7rem;
			width: 7rem;
		}
	}
	&-menu {
		z-index: 15;
		width: 5rem;

		&:hover {
			cursor: pointer;
			.bar {
				margin: .75rem 0rem;
			}
		}
		.bar {
			width: 100%;
			background-color: white;
			height: .25rem;
			margin: 1rem 0rem;
			border-radius: 1000px;
			transition: margin .5s ease;
			&.two {
				width: 60%;
			}
			&.three {
				width: 80%;
			}
		}
	}

	&-left {
		position: fixed;
		top: 0;
		left: 0;
		background-color: black;
		height: 100vh;
		width: 50%;
		z-index: 10;
		background-image: url(../images/Navbar-Image.jpg);
		background-size: cover;
		background-position: center;
	}
	&-right {
		position: fixed;
		top: 0;
		right: 0;
		background-color: $color-primary;
		height: 100vh;
		width: 50%;
		z-index: 10;
	}
	&-list {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-item {
			padding: 2rem;
			list-style: none;
			font-size: 3rem;
		}
	}
}
.header {
	width: 100%;
	height: 100vh;

	background-image: url(../images/Header-Background.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	overflow: hidden;
	z-index: 5;
	&-content {
		height: 85vh;
	}
	&-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 3rem 7rem;
		height: 100%;

		&-large {
			font-size: 15rem;
			line-height: 0.9;
			z-index: 5;
			margin: 1rem 0rem;
			position: relative;
			color: $color-primary-light;
			span {
				display: block;
				font-size: 3rem;
			}
			.backdrop {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-color: #061729;
				z-index: 6;
			}
		}
		&-medium {
			width: 40%;
			z-index: 5;
			position: relative;
			color: $color-text-subtitle;
			.backdrop {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-color: #061729;
				z-index: 6;
			}
		}
	}

	&-backdrop {
		position: absolute;
		height: 100%;
		background-color: black;

		top: 0;
		width: 50%;
		&.filter {
			width: 100%;
			background-color: black;
			opacity: .2;
		}
		&.left {
			z-index: 4;
			left: 0;
			background-image: url(../images/Header-Left-2.jpg);
			background-size: cover;
			background-position: center;
			clip-path: polygon(0 0, 70% 0%, 25% 100%, 0 100%);
		}
		&.right {
			right: 0;
			z-index: 5;
			background-image: url(../images/Header-Right.jpg);
			background-size: cover;
			background-position: center;
			clip-path: polygon(60% 0, 100% 0%, 100% 100%, 25% 100%);
		}
	}

	.scroll {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		&-header {
			letter-spacing: .2rem;
		}
		&-line {
			height: 8vh;
			background-color: white;
			width: .1rem;
			flex-grow: 1;
		}
	}
	&-rating {
		position: absolute;
		z-index: 5;
		bottom: 5rem;
		right: 5rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 20vw;
		background-color: rgba($color-primary, $alpha: 0.5);
		padding: 1.5rem 2rem;
		transform: skewX(-20deg);
		overflow: hidden;
		.item {
			transform: skewX(20deg);
			display: flex;
			justify-content: space-around;
			align-items: center;

			&.rotten {
				p:first-child {
					color: $color-red;
					overflow: hidden;
				}
			}
			&.imdb {
				p:first-child {
					color: $color-yellow;
				}
			}
			&-text {
				margin: 0rem 1rem;
			}
		}
	}
}

.about {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 50% 50%;
	height: 100vh;
	&-header {
		grid-row: 1/2;
		grid-column: 1/2;
		background-color: $color-text;
		padding: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		h1 {
			font-size: 7rem;
			position: relative;
			margin: .5rem 0rem;
			.backdrop {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-color: $color-primary;
			}
		}
		p {
			font-size: 1.8rem;
			position: relative;
			margin: .5rem 0rem;
			.backdrop {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-color: $color-primary;
			}
		}
	}
	&-image-container {
		grid-row: 2/3;
		grid-column: 1/2;
		background-image: url(../images/About-Background.jpg);
		background-size: cover;
		.backdrop {
			height: 100%;
			width: 100%;
			background-color: $color-primary;
		}
	}
	&-description {
		grid-row: 1/3;
		grid-column: 2/3;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		img {
			height: 5rem;
			width: 5rem;
		}
		.line {
			width: .25rem;
			background-color: $color-primary;
			height: 20%;
		}
		p {
			font-size: 2.5rem;
			width: 70%;
		}
	}
}
