$color-primary: #061729;
$color-primary-light: #f5f5f5;
$color-red: #ba881d;
$color-yellow: #edbf17;
$color-orange: #dda11d;
$color-text: #ffffff;
$color-text-primary: #061729;
$color-text-subtitle: #ccd0d8;
$font-size-body: 1.6rem;

$smallLaptop: 900px;
$tablet: 680px;
$largeMobile: 430px;
$smallMobile: 350px;
